html, body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: gray;
}
body {
    display: flex;
    flex-direction: column;
  
}

.redArea{
    width: 100%;
}
#top{
    background-color: lightblue;
    height: 40%;
    text-align: center;
    justify-content: end;
    display: flex;
    flex-direction: column;
}
#greenArea{
    width: 45%;
    background-color: plum;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 
}

#black {
    background-color: black;
}
#red {
    background-color: red;
}
#yellow {
    background-color: yellow;
}
#blue {
    background-color: blue;
}

.colorTab {
    flex: 0 0 50%;
    
}

#center {
    height: 45%;
}
#footer{
    background-color: orange;
    height: 15%;
}